@use "../variables";

@use "sass:meta";

@mixin syntax-colors($args...) {
  @each $name, $color in meta.keywords($args) {
    .bg-#{$name} {
      background-color: $color !important;
    }

    .text-#{$name} {
      color: $color !important;
    }
  }
}

@include syntax-colors(
  $primary: variables.$primary,
  $accent: variables.$accent,
  $success: variables.$success,
  $warning: variables.$warning,
  $error: variables.$error,
  $white: variables.$white,
  $light: variables.$light,
  $gray-100: variables.$gray-100,
  $light-error: variables.$light-error,
  $light-accent: variables.$light-accent,
  $light-success: variables.$light-success,
  $light-warning: variables.$light-warning,
  $light-primary: variables.$light-primary
);

.fill-warning svg {
  fill: variables.$warning;
  color: variables.$warning;
}

.fill-light svg {
  fill: variables.$light;
  color: variables.$light;
}
